<ActionBar backgroundColor="#44557f" flat="true">
    <StackLayout orientation="vertical" width="100%" height="100%"
        backgroundColor="#44557f">
        <StackLayout backgroundColor="#44557f">
            <StackLayout #searchRow orientation="horizontal" marginTop="5">
                <TextField backgroundColor="white" paddingLeft="20"
                    borderRadius="20" [(ngModel)]="textFieldValue" width="80%"
                    height="40" fontSize="14" hint="Search for services"></TextField>
                <Image src="~/images/shape4@3x.png" height="30" width="30"
                    marginLeft="10"></Image>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ActionBar>


<GridLayout orientation="vertical" width="100%" height="100%" columns="*"
    rows="*,auto">

    <StackLayout col="0" row="0" backgroundColor="#f8f8f8">
        <StackLayout backgroundColor="#44557f" paddingBottom="15" marginTop="-10">
            <Label text="Main Dashboard" class="font-weight-bold" color="#FFFFFF"
                padding="15" fontSize="24"></Label>
        </StackLayout>

        <StackLayout paddingLeft="20" paddingRight="20" paddingTop="20"
            paddingBottom="5" marginTop="-20" backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/aws-logo.png"
            borderRadius="5" height="180" width="90%" (tap)="onTaylorSwiftTap()"
            stretch="aspectFit">


        </StackLayout>

        <ScrollView orientation="vertical">
            <StackLayout>
                <GridLayout columns="auto,*,auto" rows="auto">
                    <Label col="0" row="0" class="font-weight-bold"
                        paddingLeft="10" fontSize="20" color="#000000" text="Main Services"></Label>

                </GridLayout>


                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                                borderRadius="5">

                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="AWS S3"></Label>
                            <Label fontSize="12" color="#999999" text="View all the buckets/objects"></Label>
                        </StackLayout>

                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/ec2-logo.png"
                                borderRadius="5">

                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="AWS EC2"></Label>
                            <Label fontSize="12" color="#999999" text="View all the instances"></Label>
                        </StackLayout>

                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/iam-logo.png"
                                borderRadius="5">

                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="AWS IAM"></Label>
                            <Label fontSize="12" color="#999999" text="View all the users/groups"></Label>
                        </StackLayout>
                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/cloudwatch-logo.png"
                                borderRadius="5">

                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="AWS CloudWatch"></Label>
                            <Label fontSize="12" color="#999999" text="View all the logs"></Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>

                <GridLayout columns="auto,*,auto" rows="auto">
                    <Label col="0" row="0" class="font-weight-bold"
                        paddingLeft="10" fontSize="20" color="#000000" text="AWS S3"></Label>

                </GridLayout>

                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <StackLayout margin="10" height="130" width="110"
                            backgroundColor="#FFFFFF" borderRadius="5">
                            <Image src="~/images/shape@3x.png" width="20"
                                height="20" horizontalAlignment="right"
                                marginRight="5"></Image>
                            <StackLayout horizontalAlignment="center"
                                verticalAlignment="center">

                                <Image height="50" width="50" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                                    borderRadius="50"></Image>
                                <Label fontSize="14" class="font-weight-bold"
                                    color="#000000" text="Bruno Mars"></Label>
                                <Label fontSize="12" color="#999999" text="228 Songs"
                                    horizontalAlignment="center"
                                    verticalAlignment="center"></Label>

                            </StackLayout>
                            <Button width="75" class="btn-rounded-lg" text="View All"
                                textTransform="none" marginBottom="5"
                                backgroundColor="#89acff" color="#FFFFFF"
                                (tap)="onButtonTap()"></Button>
                        </StackLayout>

                        <StackLayout margin="10" height="130" width="110"
                            backgroundColor="#FFFFFF" borderRadius="5">
                            <Image src="~/images/shape@3x.png" width="20"
                                height="20" horizontalAlignment="right"
                                marginRight="5"></Image>
                            <StackLayout horizontalAlignment="center"
                                verticalAlignment="center">
                                <Image height="50" width="50" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                                    borderRadius="50"></Image>
                                <Label fontSize="14" class="font-weight-bold"
                                    color="#000000" text="Ariana Grande"></Label>
                                <Label fontSize="12" color="#999999" text="185 Songs"
                                    horizontalAlignment="center"
                                    verticalAlignment="center"></Label>

                            </StackLayout>
                            <Button width="75" class="btn-rounded-lg" text="View All"
                                textTransform="none" marginBottom="5"
                                backgroundColor="#89acff" color="#FFFFFF"
                                (tap)="onButtonTap()"></Button>
                        </StackLayout>

                        <StackLayout margin="10" height="130" width="110"
                            backgroundColor="#FFFFFF" borderRadius="5">
                            <Image src="~/images/shape@3x.png" width="20"
                                height="20" horizontalAlignment="right"
                                marginRight="5"></Image>
                            <StackLayout horizontalAlignment="center"
                                verticalAlignment="center">
                                <Image height="50" width="50" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                                    borderRadius="50"></Image>
                                <Label fontSize="14" class="font-weight-bold"
                                    color="#000000" text="Big Sean"></Label>
                                <Label fontSize="12" color="#999999" text="178 Songs"
                                    horizontalAlignment="center"
                                    verticalAlignment="center"></Label>
                            </StackLayout>
                            <Button width="75" class="btn-rounded-lg" text="View All"
                                textTransform="none" marginBottom="5"
                                backgroundColor="#89acff" color="#FFFFFF"
                                (tap)="onButtonTap()"></Button>
                        </StackLayout>

                    </StackLayout>
                </ScrollView>

                <GridLayout columns="auto,*,auto" rows="auto">
                    <Label col="0" row="0" class="font-weight-bold"
                        paddingLeft="10" fontSize="20" color="#000000" text="Top Songs"></Label>
                    <Label col="2" row="0" class="font-weight-bold"
                        marginRight="20" fontSize="14" color="#8d8d8d" text="View All"></Label>
                </GridLayout>

                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="~/images/layer10@3x.png"
                                borderRadius="5">
                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="Wings"></Label>
                            <Label fontSize="12" color="#999999" text="2018"></Label>
                        </StackLayout>

                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                width="125" backgroundImage="~/images/layer11@3x.png"
                                borderRadius="5">
                            </StackLayout>
                            <Label fontSize="14" class="font-weight-bold"
                                color="#000000" text="SAX"></Label>
                            <Label fontSize="12" color="#999999" text="2018"></Label>
                        </StackLayout>

                        <StackLayout margin="10">
                            <StackLayout class="album-image" height="110"
                                backgroundImage="~/images/layer12@3x.png"
                                borderRadius="5">
                            </StackLayout>
                            <Label width="125" fontSize="14" class="font-weight-bold"
                                color="#000000" textWrap="true" text="You Know I Know"></Label>
                            <Label fontSize="12" color="#999999" text="2018"></Label>

                        </StackLayout>
                    </StackLayout>
                </ScrollView>


            </StackLayout>
        </ScrollView>
    </StackLayout>

    <StackLayout col="0" row="1" orientation="horizontal" backgroundColor="#FFFFFF"
        height="60">
        <GridLayout rows="*" columns="*,*,*,*,*">
            <Image col="0" row="0" (tap)="onButtonTap()" height="25" width="25"
                margin="10" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/IAM.png"></Image>
            <Image col="1" row="0" (tap)="onButtonTap()" height="25" width="25"
                margin="10" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3.png"></Image>
            <Image col="2" row="0" (tap)="onButtonTap()" height="25" width="25"
                margin="10" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/aws-b.png"></Image>
            <Image col="3" row="0" (tap)="onButtonTap()" height="25" width="25"
                margin="10" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/ec2-light.png"></Image>
            <Image col="4" row="0" (tap)="onButtonTap()" height="25" width="25"
                margin="10" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/rds.png"></Image>
        </GridLayout>
    </StackLayout>

</GridLayout>