ActionBar{
  background-color:transparent;
}

/* #home-page-background{        
    background: linear-gradient(to bottom, #44557f 15%, #f8f8f8 15%);
} */

.album-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

#searchRow{
    margin-top: 20;
}