<GridLayout orientation="vertical" width="100%" height="100%" columns="*"
    rows="*,auto">
    <StackLayout col="0" row="0" backgroundColor="#f8f8f8">
        <page-router-outlet></page-router-outlet>
    </StackLayout>
    <StackLayout col="0" row="1" orientation="horizontal" backgroundColor="#FFFFFF"
        height="60">
        <GridLayout rows="*" columns="*,*,*,*,*">
            <StackLayout col="0" row="0" [style.background-color]="iamStyle ? '#5cb3fd' : '#FFFFFF'">
                <Image (tap)="onButtonTap()" height="25" width="25" margin="13"
                    src="https://s3.ap-south-1.amazonaws.com/awsiconsng/IAM.png"></Image>
            </StackLayout>
            <StackLayout col="1" row="0" [style.background-color]="s3Style ? '#5cb3fd' : '#FFFFFF'">
                <Image (tap)="onS3Tap()" height="25" width="25" margin="13"
                    horizontalAlignment="center" verticalAlignment="center"
                    src="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3.png"></Image>
            </StackLayout>
            <StackLayout col="2" row="0" [style.background-color]="awsStyle ? '#5cb3fd' : '#FFFFFF'">
                <Image (tap)="onMainTap()" height="25" width="25" margin="13"
                    horizontalAlignment="center" verticalAlignment="center"
                    src="https://s3.ap-south-1.amazonaws.com/awsiconsng/aws-b.png"></Image>
            </StackLayout>
            <StackLayout col="3" row="0" [style.background-color]="ec2Style ? '#5cb3fd' : '#FFFFFF'">
                <Image (tap)="onButtonTap()" height="25" width="25" margin="13"
                    verticalAlignment="center" src="https://s3.ap-south-1.amazonaws.com/awsiconsng/ec2-light.png"></Image>
            </StackLayout>
            <StackLayout col="4" row="0" [style.background-color]="rdsStyle ? '#5cb3fd' : '#FFFFFF'">
                <Image (tap)="onButtonTap()" height="25" width="25" margin="13"
                    horizontalAlignment="center" verticalAlignment="center"
                    src="https://s3.ap-south-1.amazonaws.com/awsiconsng/rds.png"></Image>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</GridLayout>