<ActionBar title="App Icon Demo" flat="true">

</ActionBar>
<ActionBar title="Simple Dialog" class="action-bar">
    <ActionItem (tap)="showDialog()" ios.systemIcon="9" ios.position="right"
        android.systemIcon="ic_menu_share"></ActionItem>
</ActionBar>
<ScrollView backgroundColor="#f9f9f9" orientation="vertical">
    <GridLayout class="page" [class.dialogOpen]="dialogOpen">
        <GridLayout class="content">
            <StackLayout>
                <StackLayout>
                    <Image src="~/images/image_pie_semicircledonut.png"
                        horizontalAlignment="center" marginTop="5"></Image>
                    <Label style="horizontal-align:center;" fontSize="80"
                        color="#000000" text="AWS S3"></Label>
                    <Label style="horizontal-align:center;" fontSize="15"
                        marginTop="5" color="#bab8b8" text="Create/Delete Buckets or Upload files to Buckets"></Label>
                    <StackLayout style="horizontal-align:center;" orientation="horizontal">
                        <Label fontSize="10" margin="15" color="#000000" text="BUCKETS"></Label>
                        <Label fontSize="10" borderRadius="100"
                            backgroundColor="#6dffda" padding="10" color="#000000"
                            [text]="bucketcount"></Label>
                    </StackLayout>
                    <ScrollView orientation="horizontal"
                        scrollBarIndicatorVisible="false">
                        <StackLayout orientation="horizontal">
                            <GridLayout *ngFor="let bucket of bucketlist"
                                height="90" width="70" rows="auto, auto">
                                <Image (longPress)="onLongPress(bucket)" row="0"
                                    col="0" src="~/images/icons/folder-7-64.png"
                                    height="60"></Image>
                                <Label row="0" [visibility]="selected ? 'visible' : 'collapsed'"
                                    borderRadius="100%" width="30" height="30"
                                    text="&#xf055;" fontSize="30"
                                    backgroundColor="white" color="#2E93F0"
                                    class="fa" textAlignment="center"
                                    verticalAlignment="bottom"
                                    horizontalAlignment="center" marginLeft="70"></Label>
                                <Label row="1" col="0" fontSize="12" [text]="bucket">
                                </Label>
                            </GridLayout>
                        </StackLayout>
                    </ScrollView>
                    <StackLayout horizontalAlignment="center" orientation="horizontal">

                        <StackLayout>
                            <StackLayout (tap)="createBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="+"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Create Bucket"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout (tap)="deleteBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="-"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Delete Bucket"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Image src="~/images/shape4@2x.png"
                                        horizontalAlignment="center"
                                        marginTop="5" height="30" width="30"></Image>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="KeyPairs" marginBottom="80"></Label>
                        </StackLayout>

                    </StackLayout>


                </StackLayout>
            </StackLayout>
        </GridLayout>

        <AbsoluteLayout [ngSwitch]="OPTION" class="dialog-wrapper home-panel">

            <StackLayout *ngSwitchCase="'CREATE'" class="dialog">
                <Label class="h3" textWrap="true" text="Please enter the name of the Bucket you want to create"></Label>
                <Label class="h5" textWrap="true" text="Use comma if you want to create multiple buckets"></Label>
                <TextField #createbucket hint="Bucket Name" class="input input-border"></TextField>
                <Button class="btn btn-primary" text="Create Bucket" (tap)="CreateBucket(createbucket.text)"></Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>
            <StackLayout *ngSwitchCase="'SUCCESS'" class="dialog">
                <Label class="h3" textWrap="true" text="SUCCESS"></Label>



                <Button class="btn btn-outline" text="Close" (tap)="closeDialog()"></Button>
            </StackLayout>


            <StackLayout *ngSwitchCase="'DELETE'" class="dialog">
                <Label class="h3" textWrap="true" text="Are you sure you want to delete the selected buckets"></Label>
                <Label class="h5" textWrap="true" text="Confirm that the buckets are empty before deleting"></Label>

                <Button class="btn btn-primary" (tap)="DeleteBucket()" text="Delete">
                </Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>

        </AbsoluteLayout>
    </GridLayout>
</ScrollView>